.navbar{
  width: 100%;
  height: 80px;
  background: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.logo{
  color: #3b82f6;
  font-size: 2rem;
  font-weight: bold;
}

.nav-links{
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover{
  color: #3b82f6;
}

.logout-btn{
  padding: 10px 20px;
  border: none;
  background: #ef4444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover{
  background: #dc2626;
}