.exam-page{
  min-height: 100vh;
  background: #0a0a0a;
  color: white;
  padding: 40px;
}

.exam-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.exam-container{
  display: flex;
  gap: 40px;
}

.webcam-section{
  width: 350px;
  background: #111827;
  padding: 20px;
  border-radius: 15px;
}

.webcam-section video{
  width: 100%;
  border-radius: 10px;
}

.question-section{
  flex: 1;
  background: #111827;
  padding: 30px;
  border-radius: 15px;
}

.options{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.options button{
  padding: 15px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}