.home{
  min-height: 100vh;
  background: #0a0a0a;
  color: white;
}

.hero-section{
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section h1{
  font-size: 5rem;
  color: #3b82f6;
  margin-bottom: 20px;
}

.hero-section p{
  font-size: 1.3rem;
  color: #cbd5e1;
  margin-bottom: 30px;
}

.hero-buttons{
  display: flex;
  gap: 20px;
}

.hero-buttons button{
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.hero-buttons button:hover{
  background: #1d4ed8;
}